@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

a{
  color:black !important;
}

.li{
  font-family: 'Fjalla One', sans-serif;
}

.auth-card{
  padding: 15px;
  text-align: center;
  max-width: 400px;
  margin: 70px auto;
}

.auth-card h1{
  padding-top: 20px;
  padding-bottom: 40px;
}

.auth-card input{
  padding-top: 60px;
  text-align: center;
  margin-bottom: 50px;
}
h5{
  font-size: 0.89rem ;
}
h5 Link to :hover{
  color:blue;
}

.Signup-card{
  padding:20px;
  text-align: center;
  max-width: 400px;
  margin: 200px auto;
}

.Signup-card input{
  outline: none;
  background-color: none;
  border-bottom: 1px solid green;
  border-radius: 0;
  outline:none; 
  text-align:  center;
  margin: 20px;
}
#toast-container{
  top:30px;
  right:20px;
  left: auto !important; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-wrapper{
  justify-content: center;
  padding: 0px 30px 0px 40px;
  background: rgba(0,0,0,0);
}